.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.inp {
  border: none;
  padding: 10px;
  border-radius: 3px;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 3px;
}

.err {
  color: red;
}

